# Ignore Python virtual environment
venv/
env/
.venv/

# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Streamlit secrets file
.streamlit/secrets.toml

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store